.logoContainer {
  height: 44px;
  width: 100%;
  position: relative;
  transition: transform 125ms ease;

  &.collapsed {
    transform: scale(0.8);

    .logoBlock {
      width: 40px;
      left: -2px;
    }
  }
}

.logoBlock {
  position: absolute;
  top: 50%;
  left: 21px;
  width: 133px;
  height: 44px;
  overflow: hidden;
  transform: translateY(-50%);
  transition: all 125ms ease;
}

.logo {
  && {
    height: 44px;
    width: 133px;
  }
}

.content {
  background-color: white;
  padding: 0px 32px 16px;
}

.layout {
  :global {
    .ant-layout-sider {
      border-right: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}