.item {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: all 0.3s;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;

  &:hover {
    border-color: var(--lani-primary);
  }

  &.selected {
    background-color: var(--lani-selected);
    border-color: var(--lani-primary);
  }
}

.itemContainer {
  padding: 8px;
}

.content {
  flex-grow: 1;
  margin-right: 12px;
}

.image {
  background-color: var(--lani-muted);
}

.imageWrapper {
  flex-shrink: 0;
}