@import '~@/styles/index.less';

.extra {
  @media @mobile {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.table {
  @media @mobile {
    margin: 0 -24px;
  }
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;

  & :global(.ant-btn) {
    width: 100%;
  }
}
