@import '~@/styles/index.less';

.list {
  height: 600px;
  max-height: calc(100vh - 240px);
  overflow: auto;
  margin: 16px -24px -24px;

  @media @mobile {
    height: 400px;
  }
}

.inputWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}
